alembic==1.7.1
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
cloudinary==1.26.0
distlib==0.3.2
Django==3.2.13
dlib==19.22.1
filelock==3.0.12
Flask==1.1.4
Flask-Caching==1.10.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
idna==3.2
image==1.5.33
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.5
MarkupSafe==2.0.1
numpy==1.21.2
opencv-python==4.5.3.56
Pillow==8.3.1
platformdirs==2.2.0
pytz==2021.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.23
sqlparse==0.4.1
urllib3==1.26.6
virtualenv==20.7.2
Werkzeug==1.0.1
WTForms==2.3.3
